<!DOCTYPE html>
<html>
<head>
<title>信息管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/script/jquery/jquery-1.7.1.js"></script>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/script/authority/commonAll.js"></script>
<script type="text/javascript" src="/script/jquery/jquery-1.4.4.min.js"></script>
<script src="/script/My97DatePicker/WdatePicker.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="/script/artDialog/artDialog.js?skin=default"></script>
<script src="/js/ajaxfileupload.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function() {
        $("input[name='company']").hide();
        $("tr[name='company']").hide();
        $("span[name='company']").hide();

		/*
		 * 提交
		 */


	});
	function submitcast(){
        if(validateForm()){
           var castname =  $("#castname").val();
           var casttype = $("#casttype option:selected").val();
           var shootingplace = $("#shootingplace").val();
           var director = $("#director").val();
           var buildtime = $("#buildtime").val();
           var starttime = $("#starttime").val()
           var contacts = $("#contacts").val();
           var contactstel = $("#contactstel").val();
           var contactsemail = $("#contactemail").val();
           var logo = $("#logo").val();
           var companyname = $("#companyname").val();
           var licenseNum = $("#licenseNum").val();
           var comcontacts= $("#comcontacts").val();
           var comcontactstel=$("#comcontactstel").val();
           var comcontactemail=$("#comcontactemail").val();
           var licenseImg= $("#licenseImg").val();
           var result={"starttime":starttime,"logo":logo,"licenseImg":licenseImg,"castname":castname,"casttype":casttype,"shootingplace":shootingplace,"director":director,"buildtime":buildtime,"contacts":contacts,"contactstel":contactstel,
                   "contactsemail":contactsemail,"companyname":companyname,"licenseNum":licenseNum,"comcontacts":comcontacts,"comcontactstel":comcontactstel,"comcontactemail":comcontactemail};
            $.ajax({
				url:'/insertcast',
				type:'POST',
                dataType: 'text',
                contentType:"application/json",
				data:JSON.stringify(result),
				success:function(data){
					alert("保存成功");
					window.location.href="/castmanager"
				}
			})
        }
	}

    $("#changeImg").click(function(){
        alert("aa");
        $('#logo').click();
    });

    function sendChange(){
        fileUpload();
    }
    function fileUpload() {
		var fileobl = document.getElementById("img").files[0];
		alert(fileobl);
        var formData = new FormData();
        formData.append('img',fileobl);

        if(!validate_img($('#img'))){
            return;
        }

        $.ajax({
            url: '/upload',
            type: 'POST',
            cache: false,
            enctype: 'multipart/form-data',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend:function(){

            },

            success:function(data){

                alert(data.msg);
                if(data.code==1){
                    window.location.reload();
                }

            },

            error:function(){

            }

        });

    }


    //限制上传文件的类型和大小
    function validate_img(ele){
        // 返回 KB，保留小数点后两位
        //alert((ele.files[0].size/(1024*1024)).toFixed(2));
        var file = ele.val();
        if(!/.(gif|jpg|jpeg|png|GIF|JPG|bmp)$/.test(file)){

            alert("图片类型必须是.gif,jpeg,jpg,png,bmp中的一种");
            return false;
        }else{
            //alert((ele.files[0].size).toFixed(2));
            //返回Byte(B),保留小数点后两位
            if(((ele[0].files[0].size).toFixed(2))>=(2*1024*1024)){

                alert("请上传小于2M的图片");
                return false;
            }else  return true;
        }
        return false;

    }

	/** 检测房源房号是否存在并提交form  **/
	function checkFyFhSubmit(){
        $("input[name='cast']").hide();
        $("tr[name='cast']").hide();
        $("span[name='cast']").hide();
        $("input[name='company']").show();
        $("tr[name='company']").show();
        $("span[name='company']").show();
    }
    function checkFyFhSubmitlast(){
        $("input[name='company']").hide();
        $("tr[name='company']").hide();
        $("span[name='company']").hide();
        $("input[name='cast']").show();
        $("tr[name='cast']").show();
        $("span[name='cast']").show();
	}

	function back(){

        window.location.href='/castmanager';
	}
	
	/** 表单验证  **/
	function validateForm(){
		if($("#fyXqName").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源小区', ok:true,});
			return false;
		}
		if($("#fyDh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源栋号', ok:true,});
			return false;
		}
		if($("#fyCh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源层号', ok:true,});
			return false;
		}
		if($("#fyFh").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源房号', ok:true,});
			return false;
		}
		if($("#fyZongMj").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源面积', ok:true,});
			return false;
		}
		if($("#fyJizuMj").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写计租面积', ok:true,});
			return false;
		}
		if($("#fyZldz").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写房源座落地址', ok:true,});
			return false;
		}
		return true;
	}
</script>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			当前位置：新增数据&nbsp;>&nbsp;<span style="color: #1A5CC6;" name="cast">添加剧组</span><span name="company">添加剧组</span>&nbsp;>&nbsp;<span name="cast">添加公司</span><span style="color: #1A5CC6;" name="company">添加公司</span>


			<div id="page_close">
				<a href="javascript:parent.$.fancybox.close();">
					<img src="images/common/page_close.png" width="20" height="20" style="vertical-align: text-top;"/>
				</a>
			</div>
		</div>
		<div class="ui_content">
			<table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">


				<tr name="cast">
					<td class="ui_text_rt" >剧组名称</td>
					<td class="ui_text_lt">
						<input type="text" id="castname" name="cast"   class="ui_input_txt02"/>
					</td>
				</tr>

				<tr name="cast">
					<td class="ui_text_rt" width="90" >剧组类型</td>
					<td class="ui_text_lt">
						<select name="cast" id="casttype"  class="ui_select01" onchange="getFyDhListByFyXqCode();">
							<option value="">--请选择--</option>
							<option value="6" selected="selected">瑞景河畔</option>
							<option value="77">蔚蓝小区</option>
							<option value="83">和盛园小区</option>
						</select>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt">拍摄地点</td>
					<td class="ui_text_lt">
						<input type="text" id="shootingplace" name="cast"   class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt" >导演</td>
					<td class="ui_text_lt">
						<input type="text" id="director" name="cast"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt"  >建组时间</td>
					<td class="ui_text_lt">
						<input id="buildtime" type="date" value="2014-01-13" name="cast" class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt" >开机时间</td>
					<td class="ui_text_lt">
						<input id="starttime" type="date" value="2014-01-13" name="cast" class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt" >联系人</td>
					<td class="ui_text_lt">
						<input type="text" id="contacts" name="cast"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt" >联系方式</td>
					<td class="ui_text_lt">
						<input type="text" id="contactstel" name="cast"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt" >联系邮箱</td>
					<td class="ui_text_lt">
						<input type="text" id="contactemail" name="cast"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name="cast">
					<td class="ui_text_rt" >剧组LOGO</td>

					<td class="ui_text_lt">
						<div class="main-btn" ><img  width=170 height=100 id="changeImg"></img></div>
						<input type="file" id="img" name="logo"  onchange="fileUpload();">
						<!-- 在选择图片的时候添加事件，触发Ajax异步上传 -->
					</td>
				</tr>
				<tr name = "company">
					<td class="ui_text_rt">公司名称</td>
					<td class="ui_text_lt">
						<input type="text" id="companyname" name="company"   class="ui_input_txt02"/>
					</td>
				</tr>


				<tr name = "company">
					<td class="ui_text_rt">营业执照号</td>
					<td class="ui_text_lt">
						<input type="text" id="licenseNum" name="company"   class="ui_input_txt02"/>
					</td>
				</tr>

				<tr name = "company">
					<td class="ui_text_rt">联系人</td>
					<td class="ui_text_lt">
						<input type="text" id="comcontacts" name="company"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name = "company">
					<td class="ui_text_rt">联系方式</td>
					<td class="ui_text_lt">
						<input type="text" id="comcontactstel" name="company"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name = "company">
					<td class="ui_text_rt">联系邮箱</td>
					<td class="ui_text_lt">
						<input type="text" id="comcontactemail" name="company"  class="ui_input_txt02"/>
					</td>
				</tr>
				<tr name = "company">
					<td class="ui_text_rt">营业执照</td>
					<td class="ui_text_lt">
						<input type="text" id="licenseImg" name="company"  class="ui_input_txt02"/>
					</td>
				</tr>

				<tr name = "cast">
					<td>&nbsp;</td>
					<td class="ui_text_lt">
						&nbsp;<input id="submitbutton" type="button" value="下一步" class="ui_input_btn01" onclick="checkFyFhSubmit()"/>
						&nbsp;<input id="cancelbutton" type="button" value="返回" class="ui_input_btn01" onclick="back()"/>
					</td>
				</tr>
				<tr name = "company">
					<td>&nbsp;</td>
					<td class="ui_text_lt">
						&nbsp;<input id="last" type="button" value="上一步" class="ui_input_btn01" onclick="checkFyFhSubmitlast()"/>
						&nbsp;<input id="submit" type="button" value="提交" class="ui_input_btn01" onclick="submitcast()"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>

</body>
</html>